<launch>
    <!-- urg LiDAR -->
    <node pkg="urg_node" name="urg_node" type="urg_node" required="true">
        <param name="serial_port" value="/dev/ttyACM_URG"/>
    </node>

    <!-- gmapping -->
    <include file="$(find navi)/launch/gmapping.launch"/>
    
    <!-- laser_scan_matcher -->
    <include file="$(find navi)/launch/laser_odometory.launch"/>
</launch>    